@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*colors*/
    --primary_color: white;
    --ter_color: #555555;
    --benefits_background: #FAFAFA;
    --footer_color: #f4f4f4;
    /*fonts*/
    --primary_font: Raleway;
    --sec_font: Montserrat;
    --h_font: 'Bebas Neue';
}

.root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

body.no-scroll {
    overflow: hidden;
}

/*barra de navegacion*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .3rem 1rem;
    background-color: transparent;
    z-index: 100;
    animation: enhance_header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 150px;

    .navbar {
        .nav_items_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: .5rem;
            padding-bottom: .5rem;

            .a_container {
                a {
                    position: relative;
                    margin-left: 1.5rem;
                    text-decoration: none;
                    color: var(--primary_color);
                    font-size: 12px;
                    font-family: var(--sec_font);
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: capitalize;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }

                a::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--line_color, var(--primary_color));
                    transition: width 0.4s ease;
                }

                a:hover::before {
                    width: 100%;
                }
            }


            .navbar_logo_container {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                .logo {
                    color: var(--primary_color);
                    font-size: 22px;
                    font-family: var(--primary_font);
                    letter-spacing: 5px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: 0.4s;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }
            }

            .icons_container {
                display: flex;
                margin-right: 10px;
                cursor: pointer;

                .material-symbols-outlined {
                    margin-left: 2rem;
                    font-size: 20px;
                    color: white;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }
            }
        }
    }
}

@keyframes enhance_header {
    to {
        background-color: rgb(255, 255, 255, 0.7);
        backdrop-filter: blur(15px);
    }
}

@keyframes enhance_items {
    to {
        color: black;
    }
}


/*barra de navegacion*/

/*Banner*/
.banner_container {
    position: relative;
    width: 100%;
    height: 100vh;
    outline: 1px solid var black;

    .banner_video_container {
        position: relative;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        .banner_video {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    .banner_text_left {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 2rem;

        h2 {
            font-size: 60px;
            font-family: var(--h_font);
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 600;
            color: white;
            margin-bottom: .5rem;
        }

        p {
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 3px;
            font-family: var(--sec_font);
            color: white;
        }
    }
}

@media(min-aspect-ratio:16/9) {
    .banner_video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9) {
    .banner_video {
        width: auto;
        height: 100%;
    }
}


/*benefits*/

.benefits_container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    padding: 3.5rem 0 3.5rem;
    background-color: var(--benefits_background);

    .benefits_img_container {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .benefits_img {
        display: block;
        width: 150px;
        height: auto;
        margin: 0 auto;
    }

    .benefits_card_header>h3 {
        text-align: center;
        font-family: var(--h_font);
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .benefits-card_info_2>p {
        text-align: center;
        font-family: var(--primary_font);
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 5px;
    }
}

/*benefits*/

/*Tipos de joyas*/

.jewels_types_content_container {
    width: 100%;
    margin-bottom: 1px;

    .jewels_types_container {
        list-style: none;
        width: 100%;
        height: auto;
        display: flex;

        .jewels_type_img_container {
            position: relative;
            display: flex;
            justify-content: space-between;
            outline: 1px solid black;
            z-index: 3;

            .jewels_type_img {
                flex: 1;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                transition: opacity 0.4s ease;
            }

            .jewels_type_img_hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                opacity: 0;
                transition: opacity 0.4s ease;
                z-index: 1;
            }

            &:hover {

                .jewels_type_span_bottom:before {
                    width: 100%;
                    background: #C0C0C0;
                }

                .jewels_type_img_hover {
                    opacity: 1;
                }

                .jewels_type_img {
                    opacity: 0;
                }

                .jewels_type_span_bottom {
                    color: white;
                }

                .jewels_type_span_bottom_container {
                    background-color: black;
                }
            }

            .jewels_type_span_bottom_container {
                width: 100%;
                background-color: transparent;
                position: absolute;
                bottom: 0;
                padding: 1rem 2rem;
                z-index: 4;
                transition: background-color 0.4s ease;
            }

            .jewels_type_span_bottom {
                position: relative;
                text-decoration: none;
                font-size: 15px;
                font-family: var(--primary_font);
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: black;
                padding-bottom: 2px;
            }

            ::before {
                content: "";
                border-radius: 5rem;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: black;
                transition: width 0.5s ease, background-color 0.5s ease;
                transition-delay: 90ms;
            }
        }
    }
}

/*info spam*/

.info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    outline: 1px solid black;

    .info_spam_img_container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: cover;
        object-position: center;
        flex: 1;
        max-width: 50%;
        outline: 1px solid black;
    }

    .info_spam_header_container {
        position: absolute;
        width: 100%;
        bottom: 25%;
        left: 50%;
        color: white;
        font-family: var(--h_font);
        font-weight: 900;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .info_spam_img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .info_spam_container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
        object-position: center;
        flex-direction: column;
        align-items: center;
        flex: 1;
        outline: 1px solid black;

        .info_spam {
            color: white;
            position: absolute;
            text-align: center;
            top: 45%;
        }

        h2 {
            font-family: var(--primary_font);
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
            letter-spacing: 3px;
        }

        p {
            font-family: var(--primary_font);
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 3px;
        }
    }
}

/*footer*/

.footer {
    border-top: 1px solid black;
    padding-top: 3rem;
    background-color: var(--footer_color);

    .footer_end_container {
        padding: 1rem;
        width: 100%;
        background-color: black;

        .footer_end_list {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            color: white;
            font-family: var(--primary_font);
            font-size: 9px;
            letter-spacing: 1.5px;

            li {
                margin-right: 3rem;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .footer_container {
        display: flex;
        width: 1140px;
        margin: auto;
        display: flex;
        padding: 20px 50px;
        justify-content: space-between;

        .footer_logo_container {
            position: relative;
            top: 40px;

            .footer_logo {
                color: black;
                font-size: 24px;
                font-family: var(--primary_font);
                letter-spacing: 5px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .footer_list_container {
            .footer_links_container {
                list-style: none;

                h4 {
                    font-family: var(--primary_font);
                    font-size: 12px;
                    padding-bottom: 1rem;
                    color: black;
                    letter-spacing: 1.5px;
                }

                li {
                    font-family: var(--sec_font);
                    font-size: 10px;
                    font-weight: 600;
                    margin-bottom: 1.5rem;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}