@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colores */
    --p-color: #555555;
    --s-color: #fafafa;
    --t-color: #f4f4f4;
    /* fuentes */
    --p-font: Raleway;
    --s-font: Montserrat;
    --h-font: 'Bebas Neue';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*barra de navegacion*/

/* Aqui se modifican los colores para sean diferentes que en el index */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .3rem 1rem;
    background-color: transparent;
    z-index: 100;
    animation: enhance_header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 150px;

    .navbar {
        .nav_items_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: .5rem;
            padding-bottom: .5rem;

            .a_container {
                a {
                    position: relative;
                    margin-left: 1.5rem;
                    text-decoration: none;
                    color: black;
                    font-size: 11px;
                    font-family: var(--s-font);
                    letter-spacing: 1px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: capitalize;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }

                a::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--line_color, black);
                    transition: width 0.4s ease;
                }

                a:hover::before {
                    width: 100%;
                }
            }


            .navbar_logo_container {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                .logo {
                    color: black;
                    font-size: 22px;
                    font-family: var(--p-font);
                    letter-spacing: 5px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: 0.4s;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }
            }

            .icons_container {
                display: flex;
                margin-right: 10px;

                .material-symbols-outlined {
                    margin-left: 2rem;
                    cursor: pointer;
                    font-size: 25px;
                    color: black;
                    animation: enhance_items linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 150px;
                }

                .shopping-icon-container {
                    position: relative;

                    .material-symbols-outlined {
                        margin-left: 2rem;
                        font-size: 25px;
                        color: black;
                        animation: enhance_items linear both;
                        animation-timeline: scroll(root block);
                        animation-range: 0 150px;
                    }

                    /* carrito de compras*/

                    .count-products {
                        position: absolute;
                        top: 50%;
                        left: 75%;

                        background-color: #000;
                        color: #fff;
                        width: 15px;
                        height: 15px;

                        display: flex;

                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        text-align: center;

                        border-radius: 50%;


                        #contador {
                            font-size: 12px;
                            cursor: pointer;
                            font-family: Montserrat;

                        }

                    }


                    .container-cart-products {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;

                        background-color: #fff;

                        /* border: solid 1px rgba(0,0,0,0.2); */
                        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.7);
                        position: absolute;
                        top: 42px;
                        right: -26px;


                        width: 480px;
                        height: 90vh;
                        z-index: 1;

                        .row-product {
                            /* position: relative; */
                            /* top: 5%; */
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                            height: 90%;
                            /* border-top: 1px solid rgba(0, 0, 0, 0.5); */


                            .cart-products {
                                display: flex;
                                min-height: 180px;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 10px 1.5rem;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);


                                .img-producto {
                                    /* box-sizing: content-box; */
                                    /* margin-right: 20px; */
                                    /* padding: 10px; */

                                    width: 130px;
                                    height: 130px;

                                    img {
                                        object-fit: cover;
                                        width: 100%;
                                        height: 100%;
                                        aspect-ratio: 2000 / 2389;
                                    }
                                }

                                .info-container {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-evenly;
                                    flex-direction: column;
                                    gap: 50px;


                                    .info-cart-products {
                                        display: flex;
                                        flex-direction: row;
                                        padding-left: 30px;
                                        justify-content: space-between;
                                        align-items: flex-end;

                                        /* height: 100%; */


                                        .titulo-producto {
                                            width: 150px;
                                            font-weight: 500;
                                            text-transform: uppercase;
                                            font-size: 13px;
                                            font-family: Montserrat;
                                            text-align: left;
                                        }

                                        .precio-carrito {
                                            font-weight: 500;
                                            font-size: 17px;
                                            font-family: Montserrat;

                                        }

                                        .control {
                                            align-items: center;
                                            border: 1px solid rgb(224, 220, 220);

                                            border-radius: 5px;
                                            padding: 1px;

                                            .cantidad-productos {
                                                font-weight: 400;
                                                font-size: 17px;
                                                font-family: Montserrat;

                                            }

                                            .btn {
                                                font-family: Raleway;
                                                font-size: 20px;

                                                padding: 5px;
                                                gap: none;

                                                border: none;
                                                background-image: none;
                                                background-color: #fff;
                                                cursor: pointer;
                                            }
                                        }

                                        .remove {
                                            cursor: pointer;
                                            font-weight: 500;
                                            font-size: 12px;
                                            font-family: Montserrat;
                                            text-decoration: underline;
                                            transition: 0.5s ease;

                                            &:hover {
                                                color: lightslategray;
                                                text-shadow: 0 0 1px white;
                                            }
                                        }

                                    }
                                }

                            }


                        }

                        .hidden {
                            display: none;
                        }

                        .cart-total {
                            display: flex;
                            flex-direction: column;
                            /* position: relative; */
                            /* top: 75%; */
                            height: 25%;
                            display: flex;
                            justify-content: space-between;
                            padding: 25px 20px;
                            gap: 20px;
                            align-items: center;

                            border-top: 1px solid rgba(0, 0, 0, 0.3);

                            .cont {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                align-items: center;

                                h3 {
                                    font-size: 14px;
                                    font-weight: 500;
                                    font-family: Raleway;

                                }

                                .total-pagar {
                                    font-size: 14px;
                                    font-weight: 700;
                                    font-family: Montserrat;
                                }

                            }

                            .cont-btn {
                                width: 100%;

                                button {
                                    padding: 10px 30px;
                                    width: 100%;
                                    background-color: black;
                                    color: white;

                                    font-family: Raleway;
                                    font-size: 15px;
                                    font-weight: 700;

                                    text-transform: uppercase;
                                    cursor: pointer;

                                    transition: 0.2s ease;

                                    &:hover {
                                        color: black;
                                        background-color: white;
                                    }

                                    &:active {
                                        background-color: rgb(235, 235, 235);
                                        color: black;
                                        text-shadow: 0 0 1px white;
                                        transition: none;
        
                                    }

                                }
                            }
                        }


                        .hidden {
                            display: none;
                        }

                        .cart-empty {
                            position: relative;
                            bottom: 45%;

                            padding: 20px;
                            text-align: center;

                            font-family: var(--s-font);
                            font-size: 25px;
                            font-weight: bold;

                            text-align: left;

                            .cart-empty-btn {
                                background-color: #fff;

                                margin-top: 20px;
                                padding: 10px;
                                width: 100%;

                                border-radius: none;
                                border: 1px solid black;
                                cursor: pointer;


                                font-family: var(--p-font);
                                font-size: 20px;
                                font-weight: 700;
                                text-transform: uppercase;

                                transition: 0.3s ease;

                                &:hover {
                                    background-color: black;
                                    color: white;
                                }

                                &:active {
                                    background-color: rgb(197, 191, 191);
                                    color: white;
                                    text-shadow: 0 0 1px white;
                                    transition: none;
            
                                }
                            }
                        }

                    }

                    /* para ocultar el carrito */
                    .hidden-cart {
                        display: none;
                    }


                }
            }
        }
    }
}

.container-cart-products .row-product {
    max-height: 300px;
    /* Altura máxima para el contenedor */
    overflow-y: auto;
    /* Agrega scroll vertical cuando sea necesario */
    scrollbar-width: thin;
    /* Para navegadores Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Color del scroll para Firefox */
}

/* Estilo para el scroll en navegadores WebKit (Chrome, Safari, Edge) */
.container-cart-products .row-product::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scroll */
}

.container-cart-products .row-product::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo del track */
}

.container-cart-products .row-product::-webkit-scrollbar-thumb {
    background: #888;
    /* Color del thumb (la barra que se mueve) */
    border-radius: 4px;
    /* Bordes redondeados del thumb */
}

.container-cart-products .row-product::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color del thumb al pasar el mouse */
}



@keyframes enhance_header {
    to {
        background-color: rgb(0, 0, 0, 0.7);
        backdrop-filter: blur(15px);
    }
}

@keyframes enhance_items {
    to {
        color: white;
    }
}



.products_details_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 2rem;

    .products_img_container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .products_texts_container {
        position: absolute;
        top: 10%;
        left: 50%;  
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        row-gap: 2rem;

        .product_name_container {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            h1 {
                font-family: var(--p-font);
                font-size: 20px;
                letter-spacing: 3px;
            }

            span {
                font-family: var(--s-font);
                font-size: 15px;
            }
        }

        .add_to_bag_container {

            .ad_to_bag_buttom {
                padding: 1rem;
                background-color: #000000;
                color: #FFFFFF;
                font-family: var(--p-font);
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
                width: 70%;
                transition: 0.3s ease;
                cursor: pointer;
            }

            .ad_to_bag_buttom:hover {
                background-color: #FFFFFF;
                color: black;
            }
        }

        .detail_container {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .details {
                margin-bottom: 1.5rem;

                h3 {
                    font-family: var(--p-font);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin-bottom: 5px;
                }

                p {
                    font-family: var(--s-font);
                    font-size: 15px;
                    margin-top: .5rem;
                }
            }
        }
    }
}



/*footer*/
.footer {
    padding-top: 2rem;
    border-top: 1px solid #000000;

    .footer_end_container {
        padding: 1rem;
        width: 100%;
        background-color: black;

        .footer_end_list {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            color: white;
            font-family: Raleway;
            font-size: 9px;
            letter-spacing: 1.5px;

            li {
                margin-right: 3rem;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .footer_container {
        display: flex;
        width: 1140px;
        margin: auto;
        display: flex;
        padding: 20px 50px;
        justify-content: space-between;

        .footer_logo_container {
            position: relative;
            top: 40px;

            .footer_logo {
                color: black;
                font-size: 24px;
                font-family: Raleway;
                letter-spacing: 5px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .footer_list_container {
            .footer_links_container {
                list-style: none;

                h4 {
                    font-family: Raleway;
                    font-size: 12px;
                    padding-bottom: 1rem;
                    color: black;
                    letter-spacing: 1.5px;
                }

                li {
                    font-family: Raleway;
                    font-size: 10px;
                    font-weight: 600;
                    margin-bottom: 1.5rem;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}